name: CD - Deploy to AKS

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

  workflow_dispatch:

jobs:
  deploy:
    if: github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set AKS context
        uses: azure/aks-set-context@v3
        with:
          resource-group: rg-3tier-aks
          cluster-name: aks-3tier

      - name: Setup Helm
        uses: azure/setup-helm@v4

      - name: Deploy using Helm
        run: |
          helm upgrade --install mybook ./helm/mybookcollection
